.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px;
  text-align: center;
  gap: 35px;
}

.content * {
  color: #fff;
}

@media (max-width: 576px) {
  .description {
    display: none;
  }
  .content {
    height: inherit;
  }
}
