.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.info {
  display: flex;
  justify-content: space-between;
}
.left > h4 {
  font-weight: 600;

  /* width: 25%; */
}

.info > :nth-child(2) {
  width: 65%;
}

.left > h4 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0 10px;
}

.left > h4:nth-child(1)::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_282_180)'%3e%3cpath d='M19.9281 14.9303L15.4408 13.0072C15.2491 12.9255 15.036 12.9083 14.8337 12.9581C14.6314 13.008 14.4507 13.1222 14.3189 13.2836L12.3317 15.7116C9.21292 14.2411 6.70301 11.7312 5.23253 8.61243L7.66049 6.62519C7.82223 6.49364 7.9367 6.31299 7.98658 6.11057C8.03646 5.90815 8.01904 5.69499 7.93694 5.50336L6.01381 1.01604C5.9237 0.80947 5.76435 0.64081 5.56321 0.539145C5.36208 0.437481 5.13177 0.409184 4.91201 0.459135L0.745215 1.4207C0.533337 1.46963 0.344299 1.58893 0.208955 1.75913C0.0736101 1.92933 -4.8808e-05 2.14038 2.42644e-08 2.35783C2.42644e-08 12.6346 8.32958 20.9481 18.5903 20.9481C18.8078 20.9483 19.019 20.8747 19.1893 20.7393C19.3595 20.604 19.4789 20.4149 19.5278 20.2029L20.4894 16.0361C20.539 15.8153 20.5101 15.5841 20.4077 15.3822C20.3052 15.1804 20.1356 15.0206 19.9281 14.9303Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_282_180'%3e%3crect width='20.5134' height='20.5134' fill='white' transform='translate(0 0.435059)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: contain;
}
.left > h4:nth-child(4)::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.1666 0.833252H3.83329C2.22913 0.833252 0.931209 2.14575 0.931209 3.74992L0.916626 21.2499C0.916626 22.8541 2.22913 24.1666 3.83329 24.1666H27.1666C28.7708 24.1666 30.0833 22.8541 30.0833 21.2499V3.74992C30.0833 2.14575 28.7708 0.833252 27.1666 0.833252ZM26.5833 7.03117L16.2729 13.477C15.8062 13.7687 15.1937 13.7687 14.727 13.477L4.41663 7.03117C4.2704 6.94908 4.14234 6.83817 4.04021 6.70516C3.93809 6.57215 3.86401 6.4198 3.82247 6.25733C3.78092 6.09486 3.77278 5.92566 3.79852 5.75995C3.82427 5.59424 3.88337 5.43548 3.97225 5.29327C4.06112 5.15107 4.17793 5.02837 4.3156 4.93262C4.45327 4.83686 4.60894 4.77004 4.77318 4.73619C4.93743 4.70233 5.10683 4.70216 5.27114 4.73568C5.43546 4.76919 5.59126 4.8357 5.72913 4.93117L15.5 11.0416L25.2708 4.93117C25.4087 4.8357 25.5645 4.76919 25.7288 4.73568C25.8931 4.70216 26.0625 4.70233 26.2267 4.73619C26.391 4.77004 26.5467 4.83686 26.6843 4.93262C26.822 5.02837 26.9388 5.15107 27.0277 5.29327C27.1166 5.43548 27.1757 5.59424 27.2014 5.75995C27.2271 5.92566 27.219 6.09486 27.1775 6.25733C27.1359 6.4198 27.0618 6.57215 26.9597 6.70516C26.8576 6.83817 26.7295 6.94908 26.5833 7.03117Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}
.left > h4:nth-child(6)::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_282_166)'%3e%3cpath d='M7.97096 23.2126C1.24792 13.4662 0 12.4659 0 8.88396C0 3.97747 3.97747 0 8.88397 0C13.7905 0 17.7679 3.97747 17.7679 8.88396C17.7679 12.4659 16.52 13.4662 9.79698 23.2126C9.35579 23.8499 8.4121 23.8499 7.97096 23.2126ZM8.88397 12.5856C10.9283 12.5856 12.5856 10.9283 12.5856 8.88396C12.5856 6.83958 10.9283 5.18231 8.88397 5.18231C6.83959 5.18231 5.18232 6.83958 5.18232 8.88396C5.18232 10.9283 6.83959 12.5856 8.88397 12.5856Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_282_166'%3e%3crect width='17.7679' height='23.6906' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: contain;
}
.left > h4:nth-child(8)::before,
.left > h4:nth-child(10)::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9535 0.762695C4.90258 0.762695 0 5.66528 0 11.7162C0 17.7672 4.90258 22.6697 10.9535 22.6697C17.0045 22.6697 21.907 17.7672 21.907 11.7162C21.907 5.66528 17.0045 0.762695 10.9535 0.762695ZM10.9535 20.5497C6.07302 20.5497 2.12004 16.5967 2.12004 11.7162C2.12004 6.83572 6.07302 2.88273 10.9535 2.88273C15.834 2.88273 19.787 6.83572 19.787 11.7162C19.787 16.5967 15.834 20.5497 10.9535 20.5497ZM13.6831 15.9386L9.93325 13.2135C9.79634 13.1119 9.71683 12.9529 9.71683 12.7851V5.53278C9.71683 5.24127 9.95534 5.00277 10.2468 5.00277H11.6602C11.9517 5.00277 12.1902 5.24127 12.1902 5.53278V11.7913L15.1406 13.9378C15.3791 14.1101 15.4277 14.4413 15.2554 14.6799L14.4251 15.8238C14.2528 16.0579 13.9216 16.1109 13.6831 15.9386Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}

.left > a {
  text-align: left;
  width: 100%;
  font-size: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  /* align-items: left; */
}

.left > p {
  text-align: left;
}

.map {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.map > iframe {
  border: 2px solid #1c9856;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
