.vid {
  display: flex;
  overflow: hidden !important;
  border-radius: 30px;
  /* flex: 1; */
  /* box-sizing: border-box; */
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
  /* align-items: center; */
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.paragraph {
  text-align: justify;
}
