.main {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 2fr 1fr 1fr; */
  background-color: #eee;
  /* padding: 50px 120px; */
  gap: 100px;
}

/* .main > div {
  padding: 0px 70px;
} */

.more {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main h4 {
  font-weight: 600;
}

.social_media {
  display: flex;
  gap: 10px;
}

.icon {
  width: 35px;
  height: 35px;
}

.viber {
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.3192 0.832444C16.731 -0.193171 11.973 -0.193171 7.38484 0.832444L6.89047 0.941819C5.59951 1.2296 4.41376 1.87001 3.46522 2.79177C2.51668 3.71354 1.84258 4.88047 1.51796 6.16265C0.356968 10.7458 0.356968 15.546 1.51796 20.1291C1.82757 21.3519 2.45534 22.471 3.33749 23.3726C4.21963 24.2742 5.32472 24.9262 6.54046 25.2624L7.21859 29.3108C7.24024 29.4393 7.29595 29.5597 7.37993 29.6594C7.46391 29.7591 7.57308 29.8345 7.69608 29.8777C7.81909 29.9209 7.95141 29.9303 8.07929 29.905C8.20717 29.8796 8.32592 29.8205 8.42317 29.7337L12.4059 26.171C15.3956 26.3515 18.3958 26.1124 21.3192 25.4608L21.8151 25.3514C23.106 25.0636 24.2918 24.4232 25.2403 23.5014C26.1888 22.5797 26.8629 21.4128 27.1876 20.1306C28.3486 15.5475 28.3486 10.7472 27.1876 6.16411C26.8628 4.88174 26.1885 3.71468 25.2397 2.7929C24.2909 1.87112 23.1048 1.23081 21.8136 0.943277L21.3192 0.832444ZM8.61567 6.04453C8.34463 6.00484 8.06818 6.05941 7.83255 6.19911H7.81213C7.26526 6.51994 6.77234 6.9239 6.35234 7.39932C6.00234 7.80328 5.81276 8.21161 5.76317 8.60536C5.73401 8.83869 5.75442 9.07494 5.82297 9.29807L5.84921 9.31265C6.24296 10.4691 6.7563 11.5818 7.38338 12.6289C8.19231 14.0994 9.18731 15.4595 10.3438 16.6758L10.3788 16.7254L10.4342 16.7662L10.4678 16.8056L10.5086 16.8406C11.7292 18.0004 13.0925 19.0001 14.5657 19.8156C16.2501 20.7329 17.2723 21.166 17.8863 21.3468V21.3556C18.0657 21.411 18.229 21.4358 18.3938 21.4358C18.917 21.3982 19.4122 21.1856 19.7996 20.832C20.2736 20.412 20.6746 19.9177 20.9867 19.3679V19.3577C21.2798 18.8035 21.1807 18.2814 20.7578 17.927C19.909 17.1839 18.9903 16.5246 18.0146 15.9583C17.3613 15.6039 16.6978 15.8183 16.4294 16.177L15.8563 16.9004C15.5617 17.2591 15.028 17.2095 15.028 17.2095L15.0134 17.2183C11.0307 16.2018 9.96755 12.1695 9.96755 12.1695C9.96755 12.1695 9.91797 11.6212 10.2869 11.3412L11.0044 10.7637C11.3486 10.4837 11.5878 9.82161 11.2188 9.16828C10.6538 8.19327 9.99596 7.27512 9.25442 6.42661C9.09222 6.22737 8.86505 6.09159 8.61276 6.04307M15.3444 4.29161C15.151 4.29161 14.9656 4.36843 14.8288 4.50518C14.6921 4.64192 14.6153 4.82739 14.6153 5.02078C14.6153 5.21416 14.6921 5.39963 14.8288 5.53638C14.9656 5.67312 15.151 5.74994 15.3444 5.74994C17.1892 5.74994 18.7205 6.35224 19.9323 7.50724C20.5551 8.13869 21.0407 8.88682 21.3586 9.7064C21.678 10.5274 21.8238 11.4039 21.7859 12.2818C21.7819 12.3776 21.7967 12.4732 21.8297 12.5632C21.8626 12.6532 21.9129 12.7358 21.9778 12.8064C22.1088 12.9489 22.291 13.0335 22.4844 13.0416C22.6778 13.0497 22.8665 12.9807 23.009 12.8497C23.1515 12.7187 23.2361 12.5365 23.2442 12.3431C23.2877 11.2633 23.1085 10.186 22.7178 9.17848C22.3252 8.1658 21.7274 7.24526 20.9619 6.47474L20.9473 6.46015C19.4438 5.02369 17.5407 4.29161 15.3444 4.29161ZM15.2948 6.68911C15.1015 6.68911 14.916 6.76593 14.7792 6.90268C14.6425 7.03942 14.5657 7.22489 14.5657 7.41828C14.5657 7.61166 14.6425 7.79713 14.7792 7.93388C14.916 8.07062 15.1015 8.14744 15.2948 8.14744H15.3196C16.6496 8.24224 17.618 8.68557 18.2961 9.41328C18.9917 10.1629 19.3519 11.0947 19.3242 12.2468C19.3198 12.4402 19.3923 12.6274 19.5259 12.7673C19.6595 12.9072 19.8432 12.9883 20.0366 12.9928C20.23 12.9972 20.4172 12.9246 20.5571 12.791C20.697 12.6574 20.7781 12.4737 20.7826 12.2804C20.8176 10.7681 20.3305 9.46286 19.3651 8.42161V8.41869C18.3778 7.35994 17.023 6.79994 15.3926 6.69057L15.3678 6.68765L15.2948 6.68911ZM15.2671 9.13182C15.1696 9.12321 15.0712 9.13435 14.9781 9.16458C14.8849 9.1948 14.7987 9.2435 14.7248 9.30775C14.6508 9.372 14.5906 9.45049 14.5477 9.53854C14.5047 9.62659 14.48 9.72239 14.4749 9.82022C14.4698 9.91805 14.4844 10.0159 14.518 10.1079C14.5515 10.2 14.6033 10.2843 14.6702 10.3559C14.737 10.4275 14.8177 10.4849 14.9072 10.5246C14.9967 10.5644 15.0934 10.5857 15.1913 10.5872C15.8009 10.6193 16.1903 10.8031 16.4353 11.0495C16.6817 11.2974 16.8655 11.6956 16.899 12.3183C16.9008 12.4161 16.9223 12.5126 16.9622 12.602C17.0021 12.6913 17.0596 12.7718 17.1313 12.8385C17.2029 12.9051 17.2872 12.9567 17.3792 12.9901C17.4712 13.0235 17.569 13.038 17.6667 13.0329C17.7645 13.0277 17.8601 13.0029 17.9481 12.9599C18.036 12.9169 18.1144 12.8567 18.1786 12.7828C18.2428 12.7089 18.2914 12.6229 18.3216 12.5298C18.3518 12.4367 18.363 12.3385 18.3544 12.241C18.3078 11.366 18.0336 10.5931 17.4721 10.0243C16.9078 9.45557 16.1392 9.17849 15.2671 9.13182Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}
.instagram {
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_289_2137' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='3' y='3' width='29' height='29'%3e%3cpath d='M24.7917 4.375H10.2083C8.66124 4.375 7.17751 4.98958 6.08354 6.08354C4.98958 7.17751 4.375 8.66124 4.375 10.2083V24.7917C4.375 26.3388 4.98958 27.8225 6.08354 28.9165C7.17751 30.0104 8.66124 30.625 10.2083 30.625H24.7917C26.3388 30.625 27.8225 30.0104 28.9165 28.9165C30.0104 27.8225 30.625 26.3388 30.625 24.7917V10.2083C30.625 8.66124 30.0104 7.17751 28.9165 6.08354C27.8225 4.98958 26.3388 4.375 24.7917 4.375Z' fill='white' stroke='white' stroke-width='2' stroke-linejoin='round'/%3e%3cpath d='M17.5001 23.3332C19.0472 23.3332 20.5309 22.7186 21.6249 21.6246C22.7188 20.5307 23.3334 19.0469 23.3334 17.4998C23.3334 15.9527 22.7188 14.469 21.6249 13.375C20.5309 12.2811 19.0472 11.6665 17.5001 11.6665C15.953 11.6665 14.4693 12.2811 13.3753 13.375C12.2813 14.469 11.6667 15.9527 11.6667 17.4998C11.6667 19.0469 12.2813 20.5307 13.3753 21.6246C14.4693 22.7186 15.953 23.3332 17.5001 23.3332Z' fill='black' stroke='black' stroke-width='2' stroke-linejoin='round'/%3e%3cpath d='M25.5208 10.9377C25.9076 10.9377 26.2785 10.784 26.552 10.5105C26.8255 10.237 26.9792 9.8661 26.9792 9.47933C26.9792 9.09256 26.8255 8.72162 26.552 8.44813C26.2785 8.17464 25.9076 8.021 25.5208 8.021C25.1341 8.021 24.7631 8.17464 24.4896 8.44813C24.2161 8.72162 24.0625 9.09256 24.0625 9.47933C24.0625 9.8661 24.2161 10.237 24.4896 10.5105C24.7631 10.784 25.1341 10.9377 25.5208 10.9377Z' fill='black'/%3e%3c/mask%3e%3cg mask='url(%23mask0_289_2137)'%3e%3cpath d='M0 0H35V35H0V0Z' fill='black'/%3e%3c/g%3e%3c/svg%3e ");
  background-size: contain;
}

.tg {
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 0.916748C7.44996 0.916748 0.916626 7.45008 0.916626 15.5001C0.916626 23.5501 7.44996 30.0834 15.5 30.0834C23.55 30.0834 30.0833 23.5501 30.0833 15.5001C30.0833 7.45008 23.55 0.916748 15.5 0.916748ZM22.2666 10.8334C22.0479 13.1376 21.1 18.7376 20.6187 21.3188C20.4145 22.4126 20.0062 22.7772 19.627 22.8209C18.7812 22.8938 18.1395 22.2668 17.3229 21.7272C16.0395 20.8813 15.3104 20.3563 14.0708 19.5397C12.627 18.5918 13.5604 18.0668 14.3916 17.2209C14.6104 17.0022 18.3437 13.6043 18.4166 13.298C18.4268 13.2516 18.4254 13.2035 18.4127 13.1577C18.4 13.112 18.3763 13.07 18.3437 13.0355C18.2562 12.9626 18.1395 12.9918 18.0375 13.0063C17.9062 13.0355 15.8645 14.3918 11.8833 17.0751C11.3 17.4688 10.775 17.673 10.3083 17.6584C9.78329 17.6438 8.79163 17.3668 8.04788 17.1188C7.12913 16.8272 6.41454 16.6668 6.47288 16.1563C6.50204 15.8938 6.86663 15.6313 7.55204 15.3543C11.8104 13.5022 14.6395 12.2772 16.0541 11.6938C20.1083 10.0022 20.9395 9.7105 21.4937 9.7105C21.6104 9.7105 21.8875 9.73967 22.0625 9.8855C22.2083 10.0022 22.252 10.1626 22.2666 10.2793C22.252 10.3668 22.2812 10.6293 22.2666 10.8334Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}

.mail {
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='25' viewBox='0 0 31 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.1666 0.833252H3.83329C2.22913 0.833252 0.931209 2.14575 0.931209 3.74992L0.916626 21.2499C0.916626 22.8541 2.22913 24.1666 3.83329 24.1666H27.1666C28.7708 24.1666 30.0833 22.8541 30.0833 21.2499V3.74992C30.0833 2.14575 28.7708 0.833252 27.1666 0.833252ZM26.5833 7.03117L16.2729 13.477C15.8062 13.7687 15.1937 13.7687 14.727 13.477L4.41663 7.03117C4.2704 6.94908 4.14234 6.83817 4.04021 6.70516C3.93809 6.57215 3.86401 6.4198 3.82247 6.25733C3.78092 6.09486 3.77278 5.92566 3.79852 5.75995C3.82427 5.59424 3.88337 5.43548 3.97225 5.29327C4.06112 5.15107 4.17793 5.02837 4.3156 4.93262C4.45327 4.83686 4.60894 4.77004 4.77318 4.73619C4.93743 4.70233 5.10683 4.70216 5.27114 4.73568C5.43546 4.76919 5.59126 4.8357 5.72913 4.93117L15.5 11.0416L25.2708 4.93117C25.4087 4.8357 25.5645 4.76919 25.7288 4.73568C25.8931 4.70216 26.0625 4.70233 26.2267 4.73619C26.391 4.77004 26.5467 4.83686 26.6843 4.93262C26.822 5.02837 26.9388 5.15107 27.0277 5.29327C27.1166 5.43548 27.1757 5.59424 27.2014 5.75995C27.2271 5.92566 27.219 6.09486 27.1775 6.25733C27.1359 6.4198 27.0618 6.57215 26.9597 6.70516C26.8576 6.83817 26.7295 6.94908 26.5833 7.03117Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}
/* ---------------- */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.info a:hover {
  text-decoration: underline;
}
/* ------------------------ */
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact__item::before {
  width: 22px;
  height: 22px;
  display: flex;
}
.contact__item > p,
.contact__item > a {
  font-size: 16px;
}
.addres::before {
  content: "";
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='24' viewBox='0 0 18 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_282_166)'%3e%3cpath d='M7.97096 23.2126C1.24792 13.4662 0 12.4659 0 8.88396C0 3.97747 3.97747 0 8.88397 0C13.7905 0 17.7679 3.97747 17.7679 8.88396C17.7679 12.4659 16.52 13.4662 9.79698 23.2126C9.35579 23.8499 8.4121 23.8499 7.97096 23.2126ZM8.88397 12.5856C10.9283 12.5856 12.5856 10.9283 12.5856 8.88396C12.5856 6.83958 10.9283 5.18231 8.88397 5.18231C6.83959 5.18231 5.18232 6.83958 5.18232 8.88396C5.18232 10.9283 6.83959 12.5856 8.88397 12.5856Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_282_166'%3e%3crect width='17.7679' height='23.6906' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: contain;
}

.time::before {
  content: "";
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.9535 0.762695C4.90258 0.762695 0 5.66528 0 11.7162C0 17.7672 4.90258 22.6697 10.9535 22.6697C17.0045 22.6697 21.907 17.7672 21.907 11.7162C21.907 5.66528 17.0045 0.762695 10.9535 0.762695ZM10.9535 20.5497C6.07302 20.5497 2.12004 16.5967 2.12004 11.7162C2.12004 6.83572 6.07302 2.88273 10.9535 2.88273C15.834 2.88273 19.787 6.83572 19.787 11.7162C19.787 16.5967 15.834 20.5497 10.9535 20.5497ZM13.6831 15.9386L9.93325 13.2135C9.79634 13.1119 9.71683 12.9529 9.71683 12.7851V5.53278C9.71683 5.24127 9.95534 5.00277 10.2468 5.00277H11.6602C11.9517 5.00277 12.1902 5.24127 12.1902 5.53278V11.7913L15.1406 13.9378C15.3791 14.1101 15.4277 14.4413 15.2554 14.6799L14.4251 15.8238C14.2528 16.0579 13.9216 16.1109 13.6831 15.9386Z' fill='black'/%3e%3c/svg%3e ");
  background-size: contain;
}
.mobile::before {
  content: "";
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_282_180)'%3e%3cpath d='M19.9281 14.9303L15.4408 13.0072C15.2491 12.9255 15.036 12.9083 14.8337 12.9581C14.6314 13.008 14.4507 13.1222 14.3189 13.2836L12.3317 15.7116C9.21292 14.2411 6.70301 11.7312 5.23253 8.61243L7.66049 6.62519C7.82223 6.49364 7.9367 6.31299 7.98658 6.11057C8.03646 5.90815 8.01904 5.69499 7.93694 5.50336L6.01381 1.01604C5.9237 0.80947 5.76435 0.64081 5.56321 0.539145C5.36208 0.437481 5.13177 0.409184 4.91201 0.459135L0.745215 1.4207C0.533337 1.46963 0.344299 1.58893 0.208955 1.75913C0.0736101 1.92933 -4.8808e-05 2.14038 2.42644e-08 2.35783C2.42644e-08 12.6346 8.32958 20.9481 18.5903 20.9481C18.8078 20.9483 19.019 20.8747 19.1893 20.7393C19.3595 20.604 19.4789 20.4149 19.5278 20.2029L20.4894 16.0361C20.539 15.8153 20.5101 15.5841 20.4077 15.3822C20.3052 15.1804 20.1356 15.0206 19.9281 14.9303Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_282_180'%3e%3crect width='20.5134' height='20.5134' fill='white' transform='translate(0 0.435059)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: contain;
}
.home::before {
  content: "";
  background: no-repeat center
    url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_282_175)'%3e%3cpath d='M12.5195 3.46094C7.86294 3.46094 3.63717 5.28664 0.508871 8.25083C0.32425 8.43545 0.211426 8.69187 0.211426 8.97906C0.211426 9.26624 0.32425 9.52266 0.508871 9.70728L3.05254 12.2509C3.24466 12.4409 3.50338 12.5483 3.77355 12.5502C4.04372 12.5521 4.30394 12.4484 4.49874 12.2612C5.30902 11.5022 6.23212 10.8663 7.22702 10.3637C7.5655 10.1996 7.8014 9.85088 7.8014 9.44061V6.26102C9.28863 5.7687 10.8682 5.51228 12.5195 5.51228C14.1503 5.51228 15.7401 5.7687 17.2273 6.25077V9.43035C17.2273 9.83036 17.4632 10.1893 17.8017 10.3535C18.8069 10.856 19.6992 11.5022 20.5403 12.2509C20.7249 12.4356 20.9813 12.5381 21.2377 12.5381C21.5454 12.5381 21.8018 12.4253 21.9864 12.2407L24.5301 9.69703C24.7147 9.51241 24.8276 9.25599 24.8276 8.9688C24.8276 8.68161 24.7045 8.43545 24.5199 8.25083C21.2825 5.17361 16.986 3.4587 12.5195 3.46094ZM9.44248 7.56363V10.6406C9.44248 10.6406 3.28844 15.769 3.28844 18.846V22.9487H21.7505V18.846C21.7505 15.769 15.5965 10.6406 15.5965 10.6406V7.56363H13.5452V9.61497H11.4938V7.56363H9.44248ZM12.5195 12.692C13.6076 12.692 14.6511 13.1242 15.4205 13.8936C16.1899 14.663 16.6222 15.7066 16.6222 16.7947C16.6222 17.8828 16.1899 18.9263 15.4205 19.6957C14.6511 20.4651 13.6076 20.8974 12.5195 20.8974C11.4314 20.8974 10.3879 20.4651 9.61845 19.6957C8.84905 18.9263 8.4168 17.8828 8.4168 16.7947C8.4168 15.7066 8.84905 14.663 9.61845 13.8936C10.3879 13.1242 11.4314 12.692 12.5195 12.692ZM12.5195 14.2305C11.8394 14.2305 11.1872 14.5007 10.7063 14.9815C10.2255 15.4624 9.95531 16.1146 9.95531 16.7947C9.95531 17.4747 10.2255 18.127 10.7063 18.6078C11.1872 19.0887 11.8394 19.3589 12.5195 19.3589C13.1996 19.3589 13.8518 19.0887 14.3326 18.6078C14.8135 18.127 15.0837 17.4747 15.0837 16.7947C15.0837 16.1146 14.8135 15.4624 14.3326 14.9815C13.8518 14.5007 13.1996 14.2305 12.5195 14.2305Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_282_175'%3e%3crect width='24.6161' height='24.6161' fill='white' transform='translate(0.211426 0.383789)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
  background-size: contain;
}

@media (max-width: 1024px) {
  .main {
    gap: 50px;
  }
  .info {
    display: none;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .contact__item::before {
    width: 20px;
    height: 20px;
  }
  .more {
    gap: 20px;
  }
  .contact__item > p,
  .contact__item > a {
    font-size: 12px;
  }
  .more__text > p {
    text-align: justify;
  }
}

@media (max-width: 576px) {
  .contacts {
    display: none;
  }
  .more {
    width: 100%;
  }
}
