.form_block {
  background-color: #c6e6d6;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.form_row {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.input_group {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_group > * {
  width: 100%;
}

.form_agree {
  display: flex;
  flex-direction: column;
}

.input_full {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_agree {
  display: flex;
  gap: 15px;
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 20px;

  text-decoration: underline;
}

@media (max-width: 768px) {
  .form_row {
    flex-direction: column;
    gap: 30px;
  }

  .input_group {
    width: 100%;
  }
  .link {
    font-size: 14px;
  }
}

.error {
  color: red;
}

.block {
  background: #c6e6d6;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 120px 0;
}
.success_icon {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='94' height='66' viewBox='0 0 94 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.1663 0.708008C25.1274 0.708008 22.2129 1.91522 20.0641 4.06407C17.9152 6.21293 16.708 9.1274 16.708 12.1663V17.3747H19.833C21.6428 17.3747 23.4138 17.8986 24.9324 18.883C26.451 19.8674 27.6522 21.2704 28.391 22.9224C29.1298 24.5745 29.3747 26.4051 29.096 28.1933C28.8173 29.9815 28.027 31.6508 26.8205 32.9997C28.027 34.3486 28.8173 36.0179 29.096 37.806C29.3747 39.5942 29.1298 41.4248 28.391 43.0769C27.6522 44.729 26.451 46.1319 24.9324 47.1163C23.4138 48.1008 21.6428 48.6246 19.833 48.6247H16.708V53.833C16.708 56.8719 17.9152 59.7864 20.0641 61.9353C22.2129 64.0841 25.1274 65.2913 28.1663 65.2913H82.333C85.3719 65.2913 88.2864 64.0841 90.4353 61.9353C92.5841 59.7864 93.7913 56.8719 93.7913 53.833V12.1663C93.7913 9.1274 92.5841 6.21293 90.4353 4.06407C88.2864 1.91522 85.3719 0.708008 82.333 0.708008H28.1663ZM38.233 17.8997C37.5434 17.4508 36.7045 17.292 35.8986 17.4578C35.0926 17.6236 34.3845 18.1006 33.9281 18.7853C33.4717 19.4699 33.3037 20.307 33.4606 21.1147C33.6176 21.9225 34.0867 22.6357 34.7663 23.0997L53.5163 35.5997C54.0297 35.9419 54.6328 36.1244 55.2497 36.1244C55.8666 36.1244 56.4697 35.9419 56.983 35.5997L75.733 23.0997C76.4126 22.6357 76.8818 21.9225 77.0387 21.1147C77.1957 20.307 77.0277 19.4699 76.5712 18.7853C76.1148 18.1006 75.4068 17.6236 74.6008 17.4578C73.7948 17.292 72.956 17.4508 72.2663 17.8997L55.2497 29.2455L38.233 17.8997Z' fill='black'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.9582 39.25C22.9582 40.0788 22.6289 40.8737 22.0429 41.4597C21.4568 42.0458 20.662 42.375 19.8332 42.375H11.4998C10.671 42.375 9.87618 42.0458 9.29013 41.4597C8.70408 40.8737 8.37484 40.0788 8.37484 39.25C8.37484 38.4212 8.70408 37.6263 9.29013 37.0403C9.87618 36.4542 10.671 36.125 11.4998 36.125H19.8332C20.662 36.125 21.4568 36.4542 22.0429 37.0403C22.6289 37.6263 22.9582 38.4212 22.9582 39.25ZM22.9582 26.75C22.9582 27.5788 22.6289 28.3737 22.0429 28.9597C21.4568 29.5458 20.662 29.875 19.8332 29.875H3.1665C2.3377 29.875 1.54285 29.5458 0.956795 28.9597C0.370744 28.3737 0.0415039 27.5788 0.0415039 26.75C0.0415039 25.9212 0.370744 25.1263 0.956795 24.5403C1.54285 23.9542 2.3377 23.625 3.1665 23.625H19.8332C20.662 23.625 21.4568 23.9542 22.0429 24.5403C22.6289 25.1263 22.9582 25.9212 22.9582 26.75Z' fill='black'/%3e%3c/svg%3e ")
    center no-repeat;
}
.error_icon {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='88' height='80' viewBox='0 0 88 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M87.8335 23.0837C87.8335 29.1615 85.4191 34.9905 81.1214 39.2882C76.8236 43.5859 70.9947 46.0003 64.9168 46.0003C58.839 46.0003 53.01 43.5859 48.7123 39.2882C44.4146 34.9905 42.0002 29.1615 42.0002 23.0837C42.0002 17.0058 44.4146 11.1768 48.7123 6.87913C53.01 2.58142 58.839 0.166992 64.9168 0.166992C70.9947 0.166992 76.8236 2.58142 81.1214 6.87913C85.4191 11.1768 87.8335 17.0058 87.8335 23.0837ZM64.9168 8.50033C64.3643 8.50033 63.8344 8.71982 63.4437 9.11052C63.053 9.50122 62.8335 10.0311 62.8335 10.5837V27.2503C62.8335 27.8029 63.053 28.3328 63.4437 28.7235C63.8344 29.1142 64.3643 29.3337 64.9168 29.3337C65.4694 29.3337 65.9993 29.1142 66.39 28.7235C66.7807 28.3328 67.0002 27.8029 67.0002 27.2503V10.5837C67.0002 10.0311 66.7807 9.50122 66.39 9.11052C65.9993 8.71982 65.4694 8.50033 64.9168 8.50033ZM64.9168 38.1878C65.2588 38.1878 65.5975 38.1205 65.9134 37.9896C66.2294 37.8587 66.5164 37.6669 66.7583 37.4251C67.0001 37.1833 67.1919 36.8962 67.3228 36.5802C67.4536 36.2643 67.521 35.9256 67.521 35.5837C67.521 35.2417 67.4536 34.903 67.3228 34.5871C67.1919 34.2711 67.0001 33.9841 66.7583 33.7422C66.5164 33.5004 66.2294 33.3086 65.9134 33.1777C65.5975 33.0468 65.2588 32.9795 64.9168 32.9795C64.2262 32.9795 63.5638 33.2539 63.0754 33.7422C62.587 34.2306 62.3127 34.893 62.3127 35.5837C62.3127 36.2743 62.587 36.9367 63.0754 37.4251C63.5638 37.9135 64.2262 38.1878 64.9168 38.1878ZM64.9168 50.167C71.9075 50.1752 78.6288 47.4717 83.6668 42.6253V65.792C83.6671 69.2509 82.3437 72.5788 79.9682 75.0929C77.5927 77.6071 74.3452 79.117 70.8918 79.3128L70.1252 79.3337H13.8752C10.4163 79.3339 7.08838 78.0105 4.5742 75.635C2.06002 73.2595 0.550157 70.012 0.35433 66.5587L0.333496 65.792V31.867L40.5502 52.9337C40.9976 53.168 41.4951 53.2904 42.0002 53.2904C42.5052 53.2904 43.0028 53.168 43.4502 52.9337L53.521 47.6587C57.0922 49.3129 60.9811 50.1688 64.9168 50.167ZM13.8752 12.667H39.9085C38.5361 15.9682 37.8309 19.5085 37.8335 23.0837C37.8335 31.3878 41.571 38.817 47.4502 43.7837L42.0002 46.6378L0.400163 24.8462C0.724109 21.6399 2.18088 18.6542 4.50871 16.4257C6.83653 14.1971 9.88281 12.8718 13.1002 12.6878L13.8752 12.667Z' fill='black'/%3e%3c/svg%3e ")
    center no-repeat;
}

.success_icon,
.error_icon {
  width: 80px;
  height: 60px;
  background-size: contain;
  display: flex;
}
