.form_block {
  background-color: #c6e6d6;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.form_row {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.input_group {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_group > * {
  width: 100%;
}

.form_agree {
  display: flex;
  flex-direction: column;
}

.input_full {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_agree {
  display: flex;
  gap: 15px;
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 20px;

  text-decoration: underline;
}

@media (max-width: 768px) {
  .form_row {
    flex-direction: column;
    gap: 30px;
  }

  .input_group {
    width: 100%;
  }
  .link {
    font-size: 14px;
  }
}

.error {
  color: red;
}
